html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  margin: 0;
  background-color: #d05c2e;
  border-bottom: 3px solid #a63f38;
}

h1 {
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%
}

.nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav a:hover {
  background-color: #a63f38;
}
